<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>FileUploadListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.servlet.login.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>com.servlet.verifycode.VerifyCodeServlet</servlet-class>
        <init-param>
            <param-name>width</param-name>
            <param-value>120</param-value>
        </init-param>
        <init-param>
            <param-name>height</param-name>
            <param-value>30</param-value>
        </init-param>
        <init-param>
            <param-name>codeCount</param-name>
            <param-value>4</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>NewsServlet</servlet-name>
        <servlet-class>com.servlet.news.NewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>com.servlet.login.CheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsShowServlet</servlet-name>
        <servlet-class>com.servlet.news.NewsShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCountServlet</servlet-name>
        <servlet-class>com.servlet.resources.BookCountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.servlet.resources.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JudgeServlet</servlet-name>
        <servlet-class>com.servlet.judgepage.JudgeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckStudentidServlet</servlet-name>
        <servlet-class>com.servlet.login.CheckStudentidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>com.servlet.post.PostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostReplyServlet</servlet-name>
        <servlet-class>com.servlet.post.PostReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlbumServlet</servlet-name>
        <servlet-class>com.servlet.album.AlbumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PictureServlet</servlet-name>
        <servlet-class>com.servlet.album.PictureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AreplyServlet</servlet-name>
        <servlet-class>com.servlet.post.AreplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAlbumServlet</servlet-name>
        <servlet-class>com.servlet.album.ShowAlbumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuestionServlet</servlet-name>
        <servlet-class>com.servlet.question.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QtReplyServlet</servlet-name>
        <servlet-class>com.servlet.question.QtReplyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.servlet.user.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>com.servlet.user.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageServlet_1</servlet-name>
        <servlet-class>com.servlet.user.AdminManageServlet_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminChongzhi</servlet-name>
        <servlet-class>com.servlet.user.AdminChongzhi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdminServlet</servlet-name>
        <servlet-class>com.servlet.user.UserAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FSPostServlet</servlet-name>
        <servlet-class>com.servlet.post.FSPostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorJudge</servlet-name>
        <servlet-class>com.servlet.error.errorJudge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamServlet</servlet-name>
        <servlet-class>com.servlet.exam.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamListServlet</servlet-name>
        <servlet-class>com.servlet.exam.ExamListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExamDownLoadServlet</servlet-name>
        <servlet-class>com.servlet.exam.ExamDownLoadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadExamServlet</servlet-name>
        <servlet-class>com.servlet.exam.uploadExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChafenServlet</servlet-name>
        <servlet-class>com.servlet.exam.ChafenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerenChafenServlet</servlet-name>
        <servlet-class>com.servlet.exam.GerenChafenServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetExamServlet</servlet-name>
        <servlet-class>com.servlet.exam.GetExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delExamServlet</servlet-name>
        <servlet-class>com.servlet.exam.delExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadResServlet</servlet-name>
        <servlet-class>com.servlet.resources.uploadResServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetResServlet</servlet-name>
        <servlet-class>com.servlet.resources.GetResServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delResServlet</servlet-name>
        <servlet-class>com.servlet.resources.delResServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResServlet</servlet-name>
        <servlet-class>com.servlet.resources.ResServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownLoadResServlet</servlet-name>
        <servlet-class>com.servlet.resources.DownLoadResServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadScoreServlet</servlet-name>
        <servlet-class>com.servlet.exam.uploadScoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNewsServlet</servlet-name>
        <servlet-class>com.servlet.news.GetNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delNewsServlet</servlet-name>
        <servlet-class>com.servlet.news.delNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAlbumServlet</servlet-name>
        <servlet-class>com.servlet.album.GetAlbumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delAlbumServlet</servlet-name>
        <servlet-class>com.servlet.album.delAlbumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/VerifyCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsServlet</servlet-name>
        <url-pattern>/NewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/CheckServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsShowServlet</servlet-name>
        <url-pattern>/NewsShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCountServlet</servlet-name>
        <url-pattern>/BookCountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JudgeServlet</servlet-name>
        <url-pattern>/JudgeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckStudentidServlet</servlet-name>
        <url-pattern>/CheckStudentidServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/PostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostReplyServlet</servlet-name>
        <url-pattern>/PostReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlbumServlet</servlet-name>
        <url-pattern>/AlbumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PictureServlet</servlet-name>
        <url-pattern>/PictureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AreplyServlet</servlet-name>
        <url-pattern>/AreplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAlbumServlet</servlet-name>
        <url-pattern>/ShowAlbumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuestionServlet</servlet-name>
        <url-pattern>/QuestionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QtReplyServlet</servlet-name>
        <url-pattern>/QtReplyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageServlet_1</servlet-name>
        <url-pattern>/AdminManageServlet_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminChongzhi</servlet-name>
        <url-pattern>/AdminChongzhi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdminServlet</servlet-name>
        <url-pattern>/UserAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FSPostServlet</servlet-name>
        <url-pattern>/FSPostServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorJudge</servlet-name>
        <url-pattern>/errorJudge</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamServlet</servlet-name>
        <url-pattern>/ExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamListServlet</servlet-name>
        <url-pattern>/ExamListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExamDownLoadServlet</servlet-name>
        <url-pattern>/ExamDownLoadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadExamServlet</servlet-name>
        <url-pattern>/uploadExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChafenServlet</servlet-name>
        <url-pattern>/ChafenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerenChafenServlet</servlet-name>
        <url-pattern>/GerenChafenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetExamServlet</servlet-name>
        <url-pattern>/GetExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delExamServlet</servlet-name>
        <url-pattern>/delExamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadResServlet</servlet-name>
        <url-pattern>/uploadResServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetResServlet</servlet-name>
        <url-pattern>/GetResServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delResServlet</servlet-name>
        <url-pattern>/delResServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResServlet</servlet-name>
        <url-pattern>/ResServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownLoadResServlet</servlet-name>
        <url-pattern>/DownLoadResServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadScoreServlet</servlet-name>
        <url-pattern>/uploadScoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNewsServlet</servlet-name>
        <url-pattern>/GetNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delNewsServlet</servlet-name>
        <url-pattern>/delNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAlbumServlet</servlet-name>
        <url-pattern>/GetAlbumServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delAlbumServlet</servlet-name>
        <url-pattern>/delAlbumServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
